option_settings:
  - namespace: aws:elasticbeanstalk:container:nodejs
    option_name: ProxyServer
    value: nginx
  - namespace: aws:elb:listener:8080
    option_name: InstancePort
    value: 8080
  - namespace: aws:elasticbeanstalk:application:environment
    option_name: EXAMPLE_ENV_VAR
    value: hello world
